body {
  background-color: darkseagreen;
  /* background-image: url(./src/38701821_1625538974224825_3513516726845177856_o.jpg?width=100%); */
}

h1 {
  text-align: center;
  color: darkgoldenrod;
}

#basic_tag {
  line-height: 1.5;
  font-size: 15px;
}

#opacity {
  opacity: 60%;
  /* background-color: blueviolet; */
}

#opacity:hover {
  color: #6b13ad;
}

#opacity:active {
  color: chartreuse;
  font-size: 20px;
}

#opacity span {
  opacity: 14%;
  /* background-color: blue; */
}

#visibility {
  visibility: hidden;
  background-color: blue;
}

#visibility:hover {
  color: blue;
}

#visibility:active {
  color: mediumvioletred;
  font-size: 20px;
}

#visibility span {
  visibility: visible;
  background-color: coral;
}

#display {
  display: none;
  background-color: brown;
}

#font {
  font-size: 20px;
  line-height: 1.5;
  font-family: fantasy;
}

#author {
  margin-top: 20px;
  line-height: 1.3;
}

.avt {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1 solid #6b13ad;
  margin-top: 5px;
}

.avt:not(#av1) {
  margin-left: -40px;
}

#avata {
  background-color: burlywood;
  margin-top: 10px;
}

#av1:hover {
  color: tomato;
}

#Git_Video {
  line-height: 30px;
}

#git_command {
  font-size: 20px;
}

.link:hover {
  color: yellow;
}

.link:active {
  color: red;
}

.link:visited {
  color: #6b13ad;
}
